

$primary: #75C7C7;
$secondary: #CCA58E;
$danger: #99CFB0;

.carousel {
    position: relative;
    height:600px;
    display: flex;
    align-items: center;
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height:600px;
    display: flex;
    align-items: center;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
    height:600px;
    display: flex;
    align-items: center;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
    height:600px;
    display: flex;
    align-items: center;
  }


    .text-over-img {
    z-index:1;
    font-size: 1.2em;
    margin-top: -100px;
    display: flex;
    align-items: center;
    }

    h1{
      font-size: 1150%;
    }

    body {
      margin: 0;
      font-size: var(--bs-body-font-size);
      font-weight: var(--bs-body-font-weight);
      line-height: var(--bs-body-line-height);
      color: var(--bs-body-color);
      text-align: var(--bs-body-text-align);
      background-color: var(--bs-body-bg);
      -webkit-text-size-adjust: 100%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: 'Combo', sans-serif !important;
    }

    .nav {
      --bs-nav-link-padding-x: 1rem;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ;
      --bs-nav-link-color: var(--bs-link-color);
      --bs-nav-link-hover-color: var(--bs-link-hover-color);
      --bs-nav-link-disabled-color: var(--bs-secondary-color);
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 100px;
      list-style: none;
      max-height: 100px;
    }
    
    .card-index{
      --bs-card-spacer-y: 1rem;
      --bs-card-spacer-x: 1rem;
      --bs-card-title-spacer-y: 0.5rem;
      --bs-card-title-color: ;
      --bs-card-subtitle-color: ;
      --bs-card-border-width: var(--bs-border-width);
      --bs-card-border-color: var(--bs-border-color-translucent);
      --bs-card-border-radius: var(--bs-border-radius);
      --bs-card-box-shadow: ;
      --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
      --bs-card-cap-padding-y: 0.5rem;
      --bs-card-cap-padding-x: 1rem;
      --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
      --bs-card-cap-color: ;
      --bs-card-height: ;
      --bs-card-color: ;
      --bs-card-bg: var(--bs-body-bg);
      --bs-card-img-overlay-padding: 1rem;
      --bs-card-group-margin: 0.75rem;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      color: var(--bs-body-color);
      word-wrap: break-word;
      background-color: var(--bs-card-bg);
      background-clip: border-box;
      border: var(--bs-card-border-width) solid var(--bs-card-border-color);
      border-radius: var(--bs-card-border-radius);
      width: 70%;
      max-height: 450px;
    }

    .card-index-img-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: var(--bs-card-index-img-overlay-padding);
      border-radius: var(--bs-card-index-inner-border-radius);
      width: 80%;
      max-height: 450px;

    }
    
    .card-index-img,
    .card-index-img-top,
    .card-index-img-bottom {
      width: 100%;

      max-height: 450px;

    }
    
    .card-index-img,
    .card-index-img-top {
      border-top-left-radius: var(--bs-card-index-inner-border-radius);
      border-top-right-radius: var(--bs-card-index-inner-border-radius);
    }
    
    .card-index-img,
    .card-index-img-bottom {
      border-bottom-right-radius: var(--bs-card-index-inner-border-radius);
      border-bottom-left-radius: var(--bs-card-index-inner-border-radius);
    }
    .card-total{
      padding-top: 80px;
      width:100%;
      
    }

    .overlay-text-right {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-bottom: 50px;
      padding-right: 50px;
      color: #fff; /* Text color */
    }

    .overlay-text-left {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 50px;
      padding-left: 50px;
      color: #fff; /* Text color */
    }
    
    
    .right-angle-triangle-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 350px solid transparent;
      border-left: 350px solid $danger; /* danger color */
      transform: scaleX(-1);

    }

    .right-angle-triangle-left {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 350px solid transparent;
      border-left: 350px solid $danger; /* Primary color */

    }

    .footer{
      padding-top: 80px;
      margin-top: 80px;
      background-color: #75C7C7;
      display: flex;
      align-items: center;
      justify-content: end;
      color: #ffffff;
    }

    .img-footer{
      padding-right:500px;    
      padding-bottom: 35px;;
    }

    .img-nav{
      padding-right:480px;  
      max-width: 700px;  
      max-height: 60px;
    }

    .list-1{
padding:60px;

    }

    .list-2{
      padding:60px;
    }

    .list-3{
      padding:60px;
    }

    .list-4{
      padding:60px;
    }

    .h7 {
      font-size: 0.8rem;
    }

    .h8 {
      font-size: 0.5rem;
    }

    .h9 {
      font-size: 0.2rem;
    }

    .pusher{
      background-color: #CCA58E;
      padding-top: 80px;
      padding-right:80px;
    }

    .card-img,
.card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);


}



@import "../node_modules/bootstrap/scss/bootstrap.scss";